<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    
  <a class="navbar-brand" href="#">
    <i-feather  style="width: 40px; height: 40px" class="d-inline-block align-top" name="github"></i-feather>
    Vacation Manager
  </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/customers">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vacations">Vacations</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ">
        <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"  >Log In</a>
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="margin-left: 10px;" (click)="logOut()">Log Out</a>
      </form>
    </div>

  </nav>