<div style="margin: 1%;">
    <div class="container-fluid">
        <h1>
            <i-feather name="users"></i-feather>
            Employee
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/customers/card">
            <i-feather name="grid"></i-feather>
            Card View
        </a>
        <a class="navbar-brand" href="/customers/list">
            <i-feather name="list"></i-feather>
            List View
        </a>
        <a class="navbar-brand" href="/customers/create">
            <i-feather name="plus"></i-feather>
            New Employee
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>